.image-container{
    width: 100%;
    height:81vh;
}
.image-container img{
    width: 100%;
    height: 100%;
}
.contact-school{
    width: 70px;
    height: 70px;
}
.contact-school img{
    width: 100%;
    height: 100%;
}

.contact-box{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.i-icons{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}